.bg-33658a{
    background:#33658a;
}
.bg-4899ac{
    background:#4899ac;
}
.bg-55dde0{
    background:#55dde0;
}
.bg-086375{
    background:#086375;
}
.btn-outline-ds{
    color: #0aa7c1;
    border-color: #0aa7c1;
}
.btn-ds{
    color: #fff;
    background-color: #0aa7c1;
    border-color: #0aa7c1;
}
.what-we-do-img{
    width:55%;
    height:auto;
}
.active{
    color:#0aa7c1 !important;
}
.navbar-brand{
    color:blue !important;
}
.brand-img img{
    max-height: 60px;
    width:100%;
}

.bg-gray{
    background:#f1f4f8;
}